html {
    background-color: hsl(235, 21%, 11%);
    background-image: url(background.webp);
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }
  
  body {
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 130%;
  }
  
  .container {
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: hsl(235, 24%, 19%);
    /* background-image: radial-gradient(#bfc0c1 7.2%, transparent 0); */
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .heading h1 {
    /* transform: rotate(2deg); */
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: hsl(235, 21%, 11%);
    color: #fff;
    font-size: 1.5rem;
  }
  
  .form input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    font-family: "Architects Daughter", cursive;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    width: 70%;
    margin-bottom: 20px;
  }
  
  .form input:focus {
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 2px transparent;
    border-bottom: solid 2px hsl(234, 39%, 85%);
  }
  
  button {
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    background-color: transparent;
  }
  button span {
    color: #fff;
    background-image: linear-gradient(hsl(219, 48%, 41%), hsl(19, 82%, 49%));
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  li {
    text-align: left;
    position: relative;
    padding: 0;
    margin-bottom: 0.5rem;
  }
  
  p {
    color: #fff;
    padding: 0;
    margin: 0;
  }
  
  p:hover,
  button span {
    cursor: pointer;
  }
  